@charset "UTF-8";

/*
paleta de cores
#FFFFFF - branco
#E0D7ED - lilás claro
#A38DC3 - lilás
#715598 - roxo
#000000 - preto
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    background-color: #E0D7ED;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #FFFFFF;
    width: 250px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.490);
}

#image{
    display: block;
    background: #E0D7ED url(../imagens/pexels-jessbaileydesign-1119793\(2\).jpg) no-repeat;
    background-size: cover;
    background-position: left top;
    height: 200px;
}

#form{
    display: block;
    padding: 15px;
}

#form > h1{
    text-align: center;
    margin-bottom: 10px;
}

#form > p{
    font-size: 0.9em;
}


#campo{
    background-color: #A38DC3;
    display: block;
    width: 95%;
    height: 30px;
    border-radius: 10px;
    margin: 5px 0px;
    
}

#campo > span{
    color: white;
    font-size: 1.5em;
    width: 30px;
    padding: 5px;
}

#campo > input{
    background-color: #ffffff65;
    font-size: 1em;
    width:calc(95% - 30px);
    height: 94%;
    transform: translateY(-8px);
    border-radius: 5px;
    padding: 2px;
    border: none;
}

#campo > label{
    display: none;
}

#campo > input:focus-within{
    background-color: white;
}

#form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 95%;
    height: 30px;
    background-color: #A38DC3;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#form > input[type=submit]:hover{
    background-color: #715598;
}

#form > a.botao{
    display: block;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    width: 95%;
    height: 30px;
    padding-top: 2px;
    margin-top: 5px;
    background-color: #9584AF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#form > a.botao >span{
    font-size: 20px;
}

#form > a.botao:hover{
    background-color: #604783;
}